<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
	<!-- Stile che serve allo spinner-->
	<link href="/static/css/spinner.css" rel="stylesheet">	  
	<!-- Sorgenti per la gestione delle combobox-->
	<link href="/static/plugin/Bootstrap-Combo-Box-Typeahead-Plugin-jQuery/css/bootstrap-combobox.css" rel="stylesheet">
</head>

<body>

	<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
  	{% include 'menubar.html' %}

	<!--Main-->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

		<!-- Titolo della pagina-->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Import-export</h1>            
        </div>

		<!-- Spinner di elaborazione in corso (v. definizione stile di cui sopra) e funzione collegata in fondo a questa pagina-->
		<div id="idAttendere" style="display: none;">
			<div class="container">    
				<div class="row justify-content-center">		
					<div class="loader"></div>		
				</div>
			</div>
		</div>

		<!-- Zona dedicata ai messaggi-->
		{% include 'message.html' %}
	
		<!-- Campi di intestazione -->
		<div class="container">				
			<form method="post" class="form-inline">
				<!-- Intestazione -->
				<div class="row">
					<div class="form-group mb-2">
						<!-- Label nome server (viene assegnata una classe boostrap)-->
						{{ python_form.e_server_name.label(class_="col-form-label") }}
						<!-- Lista di valori per nome server (viene assegnata una classe boostrap)-->							
						{{ python_form.e_server_name(class_="form-control") }}							
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<!-- Label nome schema (viene assegnata una classe boostrap)-->
						{{ python_form.e_schema.label(class_="col-form-label") }}					
						<!-- Lista di valori per nome server (viene assegnata una classe boostrap)-->							
						{{ python_form.e_schema(class_="form-control") }}							
					</div> 						
					<div class="form-group mx-sm-3 mb-2">
						<!-- Label nome sqlite db (viene assegnata una classe boostrap)-->
						{{ python_form.e_sqlite.label(class_="col-form-label") }}					
						<!-- Lista di valori per nome server (viene assegnata una classe boostrap)-->							
						{{ python_form.e_sqlite(class_="form-control") }}							
					</div> 			
				</div>			
			</form>
		</div>
		
		<!-- Campi della sezione "Copy an Oracle table into a SQLite DB"-->			
		<div class="container">				
			<div class="row">
				<h5>Copy an Oracle table into a SQLite DB</h5>
			</div>
			<div class="row">
				<form method="post" class="form-inline">												
					<div class="form-group mb-2">
						<!-- Label nome tabella (viene assegnata una classe boostrap)-->
						{{ python_form.e_from_oracle_table.label(class_="col-form-label") }}
						<!-- Campo nome tabella (viene assegnata una classe boostrap)-->							
						{{ python_form.e_from_oracle_table(class_="form-control") }}							
					</div>			
				</form>

				<div class="form-group mx-sm-3 mb-2">
					<!--Pulsante per pick tabelle oracle (da notare come è fuori dalla sezione form in modo non avvii una submit)-->					
					<button type="button" class="btn btn-primary" name="b_pick_tabella_oracle" value="click_b_pick_tabella_oracle"  data-toggle="modal" data-target="#myModal_pick_oracle"><i class="fa fa-list"></i></button>							
				</div> 						
			</div>

			<div class="row">
				<form method="post" class="form-inline">								
					<div class="form-group mb-2">
						<!-- Label condizione where (viene assegnata una classe boostrap)-->
						{{ python_form.e_oracle_where.label(class_="col-form-label") }}					
						<!-- Campo condizione where (viene assegnata una classe boostrap)-->							
						{{ python_form.e_oracle_where(class_="form-control") }}							
					</div> 						
					<div class="form-group mx-sm-3 mb-2">
						<!-- Pulsante per copiare la tabella oracle dentro sqlite (viene assegnata una classe boostrap)-->							
						{{ python_form.b_copy_from_oracle_to_sqlite(class_="btn btn-primary btn-block", onclick="Visualizza_idAttendere()") }}							
					</div> 							
				</form>
			</div>
		</div>

		<!-- Campi della sezione "SQLite table utility"-->				
		<div class="container">				
			<div class="row">
				<h5>SQLite table utility</h5>
			</div>
			<div class="row">
				<form method="post" class="form-inline">													
					<div class="form-group mb-2">
						<!-- Label nome tabella (viene assegnata una classe boostrap)-->
						{{ python_form.e_sqlite_table_name.label(class_="col-form-label") }}
						<!-- Campo nome tabella (viene assegnata una classe boostrap)-->							
						{{ python_form.e_sqlite_table_name(class_="form-control") }}							
					</div>					
				</form>
			
				<div class="form-group mx-sm-3 mb-2">
					<!--Pulsante per pick tabelle sqlite (da notare come è fuori dalla sezione form in modo non avvii una submit)-->					
					<button type="button" class="btn btn-primary" name="b_pick_tabella_sqlite" value="click_b_pick_tabella_sqlite"  data-toggle="modal" data-target="#myModal_pick_sqlite"><i class="fa fa-list"></i></button>							
				</div> 						
			
				<form method="post" class="form-inline">										
					<div class="form-group mx-sm-3 mb-2">
						<!-- Pulsante per visualizzare i dati della tabella sqlite (viene assegnata una classe boostrap)-->							
						{{ python_form.b_sqlite_table_view(class_="btn btn-primary btn-block", onclick="Visualizza_idAttendere()") }}							
					</div> 						
					<div class="form-group mx-sm-3 mb-2">
						<!-- Pulsante per copiare i dati da tabella sqlite in foglio excel (viene assegnata una classe boostrap)-->							
						{{ python_form.b_sqlite_table_to_excel(class_="btn btn-primary btn-block", onclick="Visualizza_idAttendere()") }}							
					</div> 							
				</form>						
			</div>
		</div>

		<select class="combobox form-control">
			<option></option>
			<option value="PA">Pennsylvania</option>
			<option value="CT">Connecticut</option>
			<option value="NY">New York</option>
			<option value="MD">Maryland</option>
			<option value="VA">Virginia</option>
		</select>

	</main>

	<!--Definizione della finestra modale dove viene riportato elenco delle tabelle contenute in un database oracle-->
	<div class="container">
		<!-- The Modal -->
		<div class="modal fade" id="myModal_pick_oracle">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
			 
					<!-- Modal Header -->
					<div class="modal-header">						
						<!--Campo di ricerca e bottone di chiusura-->
						<input id="id_ricerca_modal_pick_oracle" class="form-control w-100" type="text" placeholder="Search" aria-label="Search">    
						<button type="button" class="close" data-dismiss="modal">&times;</button>												
					</div>
					
					<!-- Modal body -->
					<div class="modal-body" style="height: 400px; overflow-y: auto;">
						<!-- Importo tramite Flask righe caricate da Python-->	
						<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
							<!-- Tabella-->
							<div class="table-responsive">		
								{{ python_tabelle_oracle|safe }}
							</div>    
						</div> 
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
			   
				</div>
			</div>
		</div>
	</div>

	<!--Definizione della finestra modale dove viene riportato elenco delle tabelle contenute in un database sqlite-->
	<div class="container">
		<!-- The Modal -->
		<div class="modal fade" id="myModal_pick_sqlite">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
			 
					<!-- Modal Header -->
					<div class="modal-header">
						<!--Campo di ricerca e bottone di chiusura-->
						<input id="id_ricerca_modal_pick_sqlite" class="form-control w-100" type="text" placeholder="Search" aria-label="Search">    
						<button type="button" class="close" data-dismiss="modal">&times;</button>												
					</div>
					
					<!-- Modal body -->
					<div class="modal-body" style="height: 400px; overflow-y: auto;">
						<!-- Importo tramite Flask righe caricate da Python-->	
						<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
							<!-- Tabella-->
							<div class="table-responsive">		
								{{ python_tabelle_sqlite|safe }}
							</div>    
						</div> 
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
			   
				</div>
			</div>
		</div>
	</div>

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
{% include 'footer.html' %}

<!-- Funzione per visualizzare/nascondere lo spinner di elaborazione in corso-->
<script>
	function Visualizza_idAttendere() {
	  var x = document.getElementById("idAttendere");
	  if (x.style.display === "none") {
		x.style.display = "block";
	  } else {
		x.style.display = "none";
	  }
	}
</script>

<!-- Funzione a corredo della modal di pick tabelle oracle per leggere il contenuto di una cella di tabella-->
<script>	
	function Fn_pick_oracle(obj)
	{		
		var row=obj.parentNode;
		// contenuto della cella selezionata (nella cella deve essere presente il codice onclick a questa funzione)
		//alert("You clicked : " + row.cells[0].innerHTML);						
		$('#e_from_oracle_table').val( row.cells[0].innerHTML )
		// chiudo la window modale mymodal
		$('#myModal_pick_oracle').modal('toggle');
	}
</script>

<!-- Funzione a corredo della modal di pick tabelle oracle per la ricerca di valore in tabella-->
<script>
	$(document).ready(function(){
	  $("#id_ricerca_modal_pick_oracle").on("keyup", function() {
		var value = $(this).val().toLowerCase();      
		$("#id_table_modal_pick_oracle tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>  

<!-- Funzione a corredo della modal di pick tabelle sqlite per leggere il contenuto di una cella di tabella-->
<script>	
	function Fn_pick_sqlite(obj)
	{		
		var row=obj.parentNode;
		// contenuto della cella selezionata (nella cella deve essere presente il codice onclick a questa funzione)
		//alert("You clicked : " + row.cells[0].innerHTML);						
		$('#e_sqlite_table_name').val( row.cells[0].innerHTML )
		// chiudo la window modale mymodal
		$('#myModal_pick_sqlite').modal('toggle');
	}
</script>

<!-- Funzione a corredo della modal di pick tabelle oracle per la ricerca di valore in tabella-->
<script>
	$(document).ready(function(){
	  $("#id_ricerca_modal_pick_sqlite").on("keyup", function() {
		var value = $(this).val().toLowerCase();      
		$("#id_table_modal_pick_sqlite tr").filter(function() {
		  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
	  });
	});
</script>  

<script type="text/javascript">
	$(document).ready(function(){
	  $('.combobox').combobox();
	});
  </script>

<!--Libreria per il funzionamento delle combobox-->
<script src="/static/plugin/Bootstrap-Combo-Box-Typeahead-Plugin-jQuery/js/bootstrap-combobox.js"></script>

</body>
</html>