<!DOCTYPE html>
<html>

<head>
	<title>MGrep - Phone book</title>
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
	<!-- Includo la libreria per ordinare le colonne di tabella tramite la classe "sortable" -->
	<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
	<style> table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { content: " \25B4\25BE" } </style>
</head>

<body>

<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
<div>
  {% include 'menubar.html' %}
</div>

<!-- Titolo della pagina-->
<div class="container">    
	<div class="row">
		<div class="col text-center">
			<h3>Phone book</h3>
		</div>
	</div>
</div>	

<!-- Barra di ricerca-->
<div class="container">    
	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<form class="card card-sm">
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search h4 text-body"></i>
					</div>					
					<div class="col">
						<input class="form-control form-control-lg form-control-borderless" type="search" id="id_ricerca" placeholder="Type here for search">
					</div>					
				</div>
			</form>
		</div>                        
	</div>
</div>

<!-- Importo tramite Flask righe della rubrica caricate da Python (viene creata una tabella dal nome id_my_table_book-->
<div class="container-fluid">
	<div class="table-responsive">
		{{ python_elenco_righe|safe }}
	</div>    
</div>    

<!-- Importo tramite Flask html contenente il piede della pagina -->
<div>
  {% include 'footer.html' %}
</div>

<!-- Javascript che nasconde le righe che non corrispondono alla ricerca inserita nel campo id_ricerca agendo sulla tabella id_my_table_book creata da programma rubrica.py-->
<script>
$(document).ready(function(){
  $("#id_ricerca").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#id_my_table_book tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>