<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
</head>

<body>

	<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
  	{% include 'menubar.html' %}

	<!--Main-->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

		<!-- Titolo della pagina-->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Changelog</h1>            
        </div>
		
		<!--Changelog-->
		<p> 
		<ul>			
			<li>v1.0:  This is the start version of MGrep Web!</li>	    
		</ul>	
		</p>
    
		<hr> <!-- Riga di separazione --></hr>
	
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Help (Under construction)</h1>            
        </div>
	
		<h5> Search string </h5>	
		<p>If string1 and string2 are present, the search is performed in AND mode for the entire file or DB object. <br>
		It is possible to indicate if you want to search the file system or the database (only Oracle is supported). <br>
		For the search in the database it is possible to indicate a double choice and the contents of the UT_LOV table will also be read among the scanned objects.
		The filters are valid only for the files searched in the file system and if more than one, they must be listed separated by a comma such as: .rdf, .fmb, .sql <br>
		Where a directory (or more) does not need to be searched, a list can be entered in the "Exclude directories" field; the program will exclude the directory wherever it is present
		in the tree. <br>
		By nature of filesystems, the same directory name can exist in different branches; exclusion will remove the indicated directory from all branches! <br>
		Specify output file where to write results in csv format. The results are also shown on the screen where with a double click it is possible to open the files, DB objects included. <br>
		<br>
		Some notes (ICOM-SMILE): <br>
		The search in the ICOM-UNIFACE sources must be evaluated as in uniface, packages present in the SMILE DB could be used by ICOM-UNIFACE but through aliases. <br>
		In this case, no result would be obtained! 
		</p>   
										
		<h5> Import-Export tools </h5>
		<p>This section was created to allow you to save tables, especially for those tables that contain BLOB fields. <br>
        This section allows you to take a table from an Oracle DB and copy it into a SQLite DB residing on the PC. It can be subsequently resumed and reported on the Oracle DB (the target table must not exist).
        Any BLOB fields are not saved inside the SQLite DB (the limit of which would still be 1MB of space) but directly in a filesystem folder. From this same table, the import function inside Oracle will draw the attachments by reconstructing the starting structure. 
		</p>
				
	</main>

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
{% include 'footer.html' %}		

</body>
</html>