<!DOCTYPE html>
<html>

<head>
	<title>MGrep - Home page</title>
	<meta charset="utf-8">
	<!-- Bootstrap4 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
	<!-- Icona del browser-->
	<link rel="icon" href="/static/img/icon_browser.png" type="image/x-icon">
</head>

<body>

<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
<div class="mgrep_menubar">
  {% include 'menubar.html' %}
</div>

<!-- Carosello immagini -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="demo" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>  
			  </ul>

			  <!-- The slideshow -->
			  <div class="carousel-inner">
				<div class="carousel-item active">
				  <img src="static/img/carosello1.jpg">
				</div>
				<div class="carousel-item">
				  <img src="static/img/carosello2.jpg">
				</div>    
			  </div>

			  <!-- Left and right controls -->
			  <a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			  </a>
			  <a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			  </a>
			</div>
		</div><!-- /.col-sm-12 -->
	</div><!-- /.row -->
</div>

<!-- Messaggio di benvenuto -->
<div class="container">
	<!-- Lead presentazione -->
	<section id="presentazione">
	<div class="row">
	<div class="col-sm-12">
	 <!-- Questo è un esempio di sostituzione di codice pilotato da Python -->
	 <h1 class="text-center"><small>{{ nome_utente }} Welcome to MGrep!</small></h1> 
	</div><!-- /.col-sm-12 -->
	</div><!-- /.row -->
	</section><!-- /section presentazione -->
</div><!-- /.container -->

<!-- Importo tramite Flask html contenente il piede della pagina -->
<div class="mgrep_menubar">
  {% include 'footer.html' %}
</div>

</body>
</html>