<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
</head>

<body>

<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
<div>
  {% include 'menubar.html' %}
</div>

<!-- Contenuti (griglia) -->
<div class="container">	
	<!-- Questa div contiene lo spazio dove viene visualizzato un messaggio flash, di conferma, quando l'utente clicca sul button send-->
	<div class="row justify-content-center">
		{% for message in get_flashed_messages() %}		 
		<div class="alert alert-success alert-dismissible fade show">
			<strong>Success!</strong> {{ message }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>    
		</div>
		{% endfor %}
		{% block content %} {% endblock %}
	</div>

	<!-- Riga info-->
	<div class="row justify-content-center">		
		<div class="col-6">
			<section id="info-programma">
				<h3 >Program info</h3>
				<p>The MGrep is a set of tools for Oracle developer!<br>
				It's made by using:<br>
				- Python  3.6	(...the core)<br>
				- Flask 1.1.2 	(server side framework)<br>
				- WtForms 2.3	(form fields service)<br>
				- Bootstrap 4	(graphic interface).<br>
				- pyfiglet 0.8	(ascii graphic library)
				</p>
			</section>
			<img class="img-fluid" src="static/img/mgrep_logo.png">  
		</div> 
	</div> 
	
	<!-- Riga where i am-->
	<div class="row justify-content-center">		
		<div class="col-6">
			<section id="info-contatto">
				<h3>Who i am?</h3>
				<p>I'm Marco Valaguzza, programmer since 1987.<br>Python is my preferred language for your simplicity and scalability.
				</p>
				<img class="img-fluid" src="static/img/who_i_am.jpg">  
			</section>
		</div> 
	</div> 
	
	<!-- Form di input dei dati-->
	<div class="row justify-content-center">
		<div class="col-6">
			<section id="modulo-di-contatto">
				<h3>Do you have some questions? Contact me!</h3>
				<form id="contatti-form" method="post" class="form-horizontal">
					<div class="form-group row">
						<label for="inputNome" class="col-sm-3 control-label">Name</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="inputNome" name="inputNome"  placeholder="Name..." class="input-with-feedback" required value="{{ request.form['inputNome'] }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputEmail" class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" id="inputEmail" name="inputEmail"  placeholder="Email..." class="input-with-feedback" required value="{{ request.form['inputEmail'] }}">								
							</div>
					</div>
					<div class="form-group row">
						<label for="textMessaggio" class="col-sm-3 control-label">Message</label>
								<div class="col-sm-9">
									<textarea class="form-control" id="textMessaggio" name="textMessaggio" rows="6" placeholder="Type here your message..."   class="input-with-feedback" required>{{ request.form['textMessaggio'] }}</textarea>									
								</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<button type="submit" class="btn btn-success btn-block">Send</button>
						</div>
					</div>
				</form>
			</section>		 
		</div>
	</div>
</div>

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
<div>
	{% include 'footer.html' %}
</div>

</body>
</html>