<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
	<!-- Stile che serve allo spinner-->
	<link href="/static/css/spinner.css" rel="stylesheet">	  
</head>

<body>

	<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
  	{% include 'menubar.html' %}

	<!--Main-->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

		<!-- Titolo della pagina-->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">List of jobs in Oracle server</h1>            
			
			<!-- Pulsanti per l'export dei dati (v. id_my_table che è il nome della tabella creata lato Python)-->
			{% include 'botton_export_my_table.html' %}
        </div>

		<!-- Spinner di elaborazione in corso (v. definizione stile di cui sopra) e funzione collegata in fondo a questa pagina-->
		<div id="idAttendere" style="display: none;">
			<div class="container">    
				<div class="row justify-content-center">		
					<div class="loader"></div>		
				</div>
			</div>
		</div>
	
		<!-- Contenuti (griglia) -->
		<div class="container">			
			<!-- Questa div contiene lo spazio dove viene visualizzato un messaggio flash, di conferma-->
			<div class="row justify-content-center">
				{% for message in get_flashed_messages() %}		 
				<div class="alert alert-success alert-dismissible fade show">
					<strong>Success!</strong> {{ message }}
					<button type="button" class="close" data-dismiss="alert">&times;</button>    
				</div>
				{% endfor %}
				{% block content %} {% endblock %}
			</div>	
			<!-- Form di input dei dati-->
			<div class="row justify-content-center">
				<div class="col-6">					    			
					<form method="post" class="form-horizontal">
						<div class="form-group row">
							<!-- Label nome server (viene assegnata una classe boostrap)-->
							{{ python_form.e_server_name.label(class_="col-sm-4 control-label") }}					
							<!-- Lista di valori per nome server (viene assegnata una classe boostrap)-->
							<div class="col-sm-4">
								{{ python_form.e_server_name(class_="form-control") }}
							</div>
						</div> 						
						<div class="form-group row">
							<!-- Label check box per selezionare job disabilitati (viene assegnata una classe boostrap)-->
							{{ python_form.c_enable.label(class_="col-sm-4 control-label") }}					
							<!-- Check box per selezionare job disabilitati (viene assegnata una classe boostrap)-->
							<div class="col-sm-4">
								{{ python_form.c_enable(class_="form-control") }}					
							</div>
						</div> 						
						<div class="form-group row">
							<!-- Pulsante di avvio ricerca (viene assegnata una classe boostrap)-->
							<div class="col">
								{{ python_form.b_ricerca_jobs(class_="btn btn-primary btn-block", onclick="Visualizza_idAttendere()") }}
							</div>					
						</div>
					</form>			
				</div>
			</div>
		</div>

		<!-- Importo tramite Flask righe caricate da Python-->	
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
			<!-- Tabella-->
			<div class="table-responsive">					
				{{ python_elenco_righe|safe }}
			</div>    
		</div> 
	</main>

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
{% include 'footer.html' %}

<!-- Funzione per visualizzare/nascondere lo spinner di elaborazione in corso-->
<script>
	function Visualizza_idAttendere() {
	  var x = document.getElementById("idAttendere");
	  if (x.style.display === "none") {
		x.style.display = "block";
	  } else {
		x.style.display = "none";
	  }
	}
</script>

</body>
</html>