<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
	<!-- Stile che serve allo spinner-->
	<link href="/static/css/spinner.css" rel="stylesheet">	  
</head>

<body>

	<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
	{% include 'menubar.html' %}

	 <!--Main-->
	 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

		<!-- Titolo della pagina-->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Search string in sources of Oracle Forms/Reports</h1>            
			
			<!-- Pulsanti per l'export dei dati (v. id_my_table che è il nome della tabella creata lato Python)-->
			{% include 'botton_export_my_table.html' %}
        </div>

		<!-- Spinner di elaborazione in corso (v. definizione stile di cui sopra) e funzione collegata in fondo a questa pagina-->
		<div id="idAttendere" style="display: none;">
			<div class="container">    
				<div class="row justify-content-center">		
					<div class="loader"></div>		
				</div>
			</div>
		</div>

		<!-- Questa div contiene lo spazio dove viene visualizzato un messaggio flash, di errore sui controlli dei valori inseriti-->
		<div class="row justify-content-center">
			{% for message in get_flashed_messages() %}		 
			<div class="alert alert-danger alert-dismissible fade show">
				<strong>Error!</strong> {{ message }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>    
			</div>
			{% endfor %}
			{% block content %} {% endblock %}
		</div>

		<!-- Form richiesta dati-->
		<div class="container">
			<form method="post">
				<div class="row justify-content-center">
					<div class="col-md">
						<div class="form-group row">
							<!-- String1 (vengono assegnate classi boostrap)-->			
							{{ python_form.e_stringa1.label(class_="col-4 control-label") }}								
							<div class="col-4">
								{{ python_form.e_stringa1(class_="form-control") }}								
							</div>	
						</div>
						
						<div class="form-group row">
							<!-- String2 (vengono assegnate classi boostrap)-->			
							{{ python_form.e_stringa2.label(class_="col-4 control-label") }}								
							<div class="col-4">				
								{{ python_form.e_stringa2(class_="form-control") }}								
							</div>			
						</div>
						
						<div class="form-group row">
							<!-- Flag execute search in folder (vengono assegnate classi boostrap)-->			
							{{ python_form.c_flsearch.label(class_="col-4 control-label") }}								
							<div class="col-4">				
								{{ python_form.c_flsearch }}					
							</div>
						</div>
						
						<div class="form-group row">
							<!-- Folder name (vengono assegnate classi boostrap)-->				
							{{ python_form.e_pathname.label(class_="col-4 control-label") }}												
							<div class="col-4">				
								{{ python_form.e_pathname(class_="form-control") }}									
							</div>			
						</div>
						
						<div class="form-group row">
							<!-- File filter (vengono assegnate classi boostrap)-->			
							{{ python_form.e_filter.label(class_="col-4 control-label") }}												
							<div class="col-4">				
								{{ python_form.e_filter(class_="form-control") }}													
							</div>
						</div>
						
						<div class="form-group row">
							<!-- Exclude directories (vengono assegnate classi boostrap)-->			
							{{ python_form.e_excludepath.label(class_="col-4 control-label") }}												
							<div class="col-4">				
								{{ python_form.e_excludepath(class_="form-control") }}													
							</div>
						</div>
						
						<div class="form-group row">
							<!-- Execute search in DB Oracle (vengono assegnate classi boostrap)-->			
							{{ python_form.c_dbsearch.label(class_="col-4 control-label") }}												
							<div class="col-4">				
								{{ python_form.c_dbsearch }}																	
							</div>
						</div>
						
						<div class="form-group row">
							<!-- Oracle connection1 (vengono assegnate classi boostrap)-->				
							{{ python_form.e_dboracle1.label(class_="col-4 control-label") }}												
							<div class="col-4">				
								{{ python_form.e_dboracle1(class_="form-control") }}																					
							</div>
						</div>
						
						<div class="form-group row">
							<!--  Oracle connection2 (vengono assegnate classi boostrap)-->			
							{{ python_form.e_dboracle2.label(class_="col-4 control-label") }}												
							<div class="col-4">				
								{{ python_form.e_dboracle2(class_="form-control") }}																									
							</div>
						</div>
						
						<div class="form-group row">
							<!-- Execute search in icom (vengono assegnate classi boostrap)-->			
							{{ python_form.c_icomsearch.label(class_="col-4 control-label") }}												
							<div class="col-4">				
								{{ python_form.c_icomsearch }}																									
							</div>					
						</div>
					</div>
				</div>
				
				<!-- Pulsanti di avvio ricerca e export dei dati -->
				<div class="row justify-content-center">
					<div class="col-auto">
						{{ python_form.b_search(class_="btn btn-primary btn-block", onclick="Visualizza_idAttendere()") }}					
					</div>					
				</div>
				
			</form>	
		</div>

		<!-- Importo tramite Flask righe caricate da Python come risultato della ricerca-->	
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
			<!-- Tabella-->
			<div class="table-responsive">			
				{{ python_elenco_righe|safe }}		
			</div>
		</div> 
	</main>

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
{% include 'footer.html' %}

<!-- Funzione per visualizzare/nascondere lo spinner di elaborazione in corso-->
<script>
	function Visualizza_idAttendere() {
	  var x = document.getElementById("idAttendere");
	  if (x.style.display === "none") {
		x.style.display = "block";
	  } else {
		x.style.display = "none";
	  }
	}
</script>

</body>
</html>