<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
</head>

<body>

	<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
	{% include 'menubar.html' %}

	<!--Main-->
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
		<!-- Contenuti (griglia) -->
		{{ python_info_sessione|safe }}
	</main>		

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
{% include 'footer.html' %}

</body>

</html>