<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
</head>

<body>

	<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
  	{% include 'menubar.html' %}

	<!--Main-->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

		<!-- Titolo della pagina-->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Script for table {{ python_table_name }}</h1>            			
        </div>

        <!--Contenuto dello script -->        
		<h5>					
			{{ python_table_wasted_script|safe }}            
        </h5>
	
	</main>

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
{% include 'footer.html' %}

</body>
</html>