<!DOCTYPE html>
<html>

<head>	
	<!-- Importo tramite Flask html contenente i riferimenti alle librerie bootstrap -->
	{% include 'bootstrap.html' %}
</head>

<body>

	<!-- Importo tramite Flask html contenente i menu e tutta l'intestazione -->
  	{% include 'menubar.html' %}

	<!--Main-->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

		<!-- Titolo della pagina-->
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">(Under construction) Oracle top sessions{{ python_intestazione }}</h1>            
			
			<!-- Pulsanti per l'export dei dati (v. id_my_table che è il nome della tabella creata lato Python)-->
			{% include 'botton_export_my_table.html' %}
        </div>
	
		<!-- Contenuti (griglia) -->
		<div class="container">			
			<!-- Form di input dei dati-->
			<div class="row justify-content-center">
				<div class="col-6">					    			
					<form method="post" class="form-horizontal">
						<div class="form-group row">
							<!-- Label nome server (viene assegnata una classe boostrap)-->
							{{ python_form.e_server_name.label(class_="col-sm-4 control-label") }}					
							<!-- Lista di valori per nome server (viene assegnata una classe boostrap)-->
							<div class="col-sm-6">
								{{ python_form.e_server_name(class_="form-control") }}
							</div>
						</div> 						
						<div class="form-group row">
							<!-- Label elenco parametri (viene assegnata una classe boostrap)-->
							{{ python_form.e_parameter.label(class_="col-sm-4 control-label") }}					
							<!-- Lista di valori parametri (viene assegnata una classe boostrap)-->
							<div class="col-sm-6">
								{{ python_form.e_parameter(class_="form-control") }}					
							</div>
						</div> 						
						<div class="form-group row">
							<!-- Pulsante di calcolo (viene assegnata una classe boostrap)-->
							<div class="col">
								{{ python_form.b_compute(class_="btn btn-primary btn-block") }}
							</div>					
						</div>
					</form>			
				</div>
			</div>
		</div>

		<!-- Importo tramite Flask righe caricate da Python-->	
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
			<!-- Tabella-->
			<div class="table-responsive">		
				{{ python_elenco_righe|safe }}
			</div>    
		</div> 
	</main>

<!-- Importo tramite Flask html contenente la parte finale della pagina -->
{% include 'footer.html' %}		

</body>
</html>